/* google font import code */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "open sans";
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
    margin-bottom: 100px;
    background-color: rgb(247, 245, 243);
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 50px 200px;
}

ul {
    margin-left: 150px;
}

ul li {
    overflow: hidden;
    list-style-type: none;
    float: left;
    padding: 10px 15px;
    
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: grey;
    color: white; !important
    padding: 10px;
}

.nav-bar h2 {
    font-weight: 800;
    font-size: 45px;
}

.speacial {
    color: orange;
}

.name {
    font-weight: 700;
    font-size: 85px;
}

.container {
    /* width: 70%; */
    display: flex;
    margin: 0 200px;
    /* align-items: center; */
}

.banner {
    width: 50%;
}

.banner p {
    font-size: 18px;
}

.btn {
    background-color: rgb(223, 150, 40);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    
}

.btn:hover {
    background-color: black;
    color: white;
}

.banner h3 {
    font-size: 45px;
}

#about-me {
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-bottom: 100px;
    
}

.container2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 130px 150px;
}

.container2 h1 {
    font-size: 35px;
    font-weight: 700;
}

.container2 p {
    font-weight: 400;
    font-size: 18px;
    color: rgb(117, 117, 117);
}

.info {
    display: flex;
    
}

.info p {
    padding: 30px;
}

.common {
    font-weight: 400;
    font-size: 20px;
}

.values {
    font-weight: 700;
    font-size: 20px;
    color: rgb(71, 71, 71);
}

#what-do {
    margin-bottom: 100px;
}

#what-do h1 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.container3 {
    display: flex;
    gap: 24px;
}

.icon {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.icon h3 {
    font-size: 20px;
    font-weight: 700;
}

.icon p {
    color: rgb(117, 117, 117);
}

#resume h1 {
    text-align: center;
    padding: 20px auto;
}

.qualifications {
    display: flex;
    gap: 20px;
}

.exprerience h2 {
    font-weight: 700;
    font-size: 25px;
    color: rgb(71, 71, 71);
}

.exprerience h3 {
    font-size: 20px;
    color: rgb(117, 117, 117);
}

.exprerience h4 {
    font-size: 19px;
}

.exprerience p {
    color: rgb(117, 117, 117);
}